<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <title>Instagram Clone</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_container">
        <div class="inner_container_left"> {% include "sidebar.html" %}</div>
        <div class="inner_container_center">{% include "post.html"%}</div>
        <div class="inner_container_right">{% include "navbar.html" %}</div>
    </div>
</body>