
{% load static %}
<body>
    <div>
        <!-- heading start-->
     <div class="Heading">
        <h1> <span> <img src="static/images/instagram.png" alt="Instagram" width="24px" height ="24px"> </span>  Instagram <h1>
     </div>
     <!-- heading end-->
     <!-- navbar starts-->
     <div class="navbar">
    <a href="{% url 'home' %}">
        <div>
            <h1> <span>  <img src="static/images/home.png" alt="Home" width="22px" height ="22px"></span>   Home </h1>
        </div>
    </a>
    <a href="{% url 'search' %}">
        <div>
            <h1> <span>  <img src="static/images/transparency.png" alt="Search" width="22px" height ="22px"></span>   Search </h1>
        </div>
    </a>
    <a href="{% url 'explore' %}">

        <div>
            <h1><span>  <img src="static/images/compass.png" alt="Explore" width="22px" height ="22px"></span>   Explore </h1>
        </div>
    </a>
    <a href="{% url 'reels' %}">
        <div>
            <h1><span>  <img src="static/images/video.png" alt="Reels"width="22px" height ="22px"></span>   Reels</h1>
        </div>
    </a>
    <a href="{% url 'messages' %}">
        <div>
            <h1><span>  <img src="static/images/chat.png" alt="Messages"width="22px" height ="22px"></span>   Messages </h1>
        </div>
    </a>
    <a href="{% url 'notification' %}">
        <div>
            <h1><span>  <img src="static/images/heart.png" alt="Notification"width="22px" height ="22px"></span>   Notification </h1>
        </div>
    </a>
    <a href="{% url 'create' %}">
        <div>
            <h1><span>  <img src="static/images/tab.png" alt="Create"width="22px" height ="22px"></span>    Create</h1>
        </div>
    </a>
    <a href="{% url 'profile' %}">
        <div>
            <h1><span>  <img src="static/images/user.png" alt="Profile"width="22px" height ="22px"></span>    Profile </h1>
        </div>
    </a>
     </div>
     <!-- navbar ends-->
     <!--more starts -->
     <div>
        <a href="{% url 'more' %}">
        <h1><span>  <img src="static/images/menu-burger.png" alt="More" width="24px" height ="24px"></span>    More</h1>
    </div>
      </a>
    <!-- more ends-->
    </div> 
   
    {% block content %}


    {% endblock %}