{% load static %}
<link rel="stylesheet" href={% static 'css/navbar.css' %}/>
{% block content %}
<div class="navbar_container">

    <div class="navbar_top"> 


          <div class="user_profile">
            <img src="static/images/user.png" alt="userprofile" >
            <div class="user_name">
                <h5>  Username </h5>
                <h5>  name </h5>
               </div>
          </div>
          
            <div class="switch_profile">
                <a href="">switch <a/>
            </div> 
  </div>

  <div class="suggestion_main">

          <div class="suggestion_left">
            <h5>  Suggested for you </h5>
          </div>

          <div class="suggestion_right">
            <a href=""> see All </a>
          </div> 
    </div>

    <div class="navbar_center"> 
       <div class="user_profile">
            <img src="static/images/user.png" alt="userprofile" >
              <div class="user_name">
                  <h5>  Username </h5>
                  <h5>  followed by </h5>
                 </div>
            </div>
            
        <div class="follow">
                  <a href="">follow </a>
        </div> 
    </div>




</div>

{% endblock %}
