{% load static %}
<link rel="stylesheet" href={% static 'css/sidebar.css' %}/>
{% block content %}

    <div class="sidebar_container">


        <div class="topContainer">
                    <!-- heading start-->
            <div class="Heading">
                
                <h1> Instagram </h1><span class="insta_logo"> <img src={% static 'images/instagram.png' %} alt="Instagram" ></span>
            </div>
            <!-- heading end-->
            


                <!-- navbar starts-->
                <div class="navbar">
                    <a href="{% url 'home' %}">
         
                        <img src="static/images/home.png" alt="Home" ><span>   Home </span>
        
                    </a>
                    <a href="{% url 'search' %}">
                        
                        <img src="static/images/transparency.png" alt="Search" > <span>  Search </span>
        
                    </a>
                    <a href="{% url 'explore' %}">
        
                        
                              <img src="static/images/compass.png" alt="Explore" ><span>  Explore </span>
        
                    </a>
                    <a href="{% url 'reels' %}">
                        
                              <img src="static/images/video.png" alt="Reels"><span>  Reels</span>
        
                    </a>
                    <a href="{% url 'messages' %}">
                        
                              <img src="static/images/chat.png" alt="Messages"> <span> Messages </span>
        
                    </a>
                    <a href="{% url 'notification' %}">
                        
                              <img src="static/images/heart.png" alt="Notification"> <span> Notification </span>
        
                    </a>
                    <a href="{% url 'create' %}">
                        
                              <img src="static/images/tab.png" alt="Create"> <span>  Create</span>
        
                    </a>
                    <a href="{% url 'profile' %}">
                        
                              <img src="static/images/user.png" alt="Profile"> <span>  Profile </span>
        
                    </a>
        
                    <!-- navbar ends-->
                </div> 
            </div>
            
            <!--more starts -->
        <div class="bottomContainer">

                <a href="{% url 'more' %}">
                <img src="static/images/menu-burger.png" alt="More" width="24px" height ="24px"> <span>More</span>  
                </a>
        </div>

        
    <!-- more ends-->

    </div>




    {% endblock %}